<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Vid Tadel, tadelv@gmail.com">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" type="image/png" href="img/favicon.png">
	<title>{{ page.title }} | Out of context</title>

</head>

<body>
	<div id='logo'>
		<div id='main_menu'>
			<ul>
				<li><a href='/index.html'>Home</a></li>
				<li><a href='/projects.html'>Projects</a></li>
			</ul>
		</div>
	<h1>{{ page.title }}</h1>
	</div>
	<div id='content'>
		{{content}}
	</div>
	
	<div id='footer'>
		Stuff stolen from many people, thank you guys!
	</div>
</body>
</html>
